<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <title>SunScreen</title>
</head>
<body class="">
  <h1>SunScreen</h1>
  <p>It's a beautiful day outside. Don't forget to put on sunscreen!</p>
  <div id="mainDiv">111</div>
  <main>
    <div id="threeDObject"></div>
    <canvas id="waveCanvas"></canvas>
  </main>
  <script type="module" src="./app.js"></script>
</body>
</html>