<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
  <script src="https://cdn.rawgit.com/mrdoob/three.js/r128/examples/js/controls/OrbitControls.js"></script>
  <script src="https://cdn.rawgit.com/mrdoob/three.js/r128/examples/js/loaders/GLTFLoader.js"></script>
  <title>SunScreen</title>
</head>
<body>
  <h1>SunScreen</h1>
  <p>It's a beautiful day outside. Don't forget to put on sunscreen!</p>
  <div id="mainDiv">111</div>
  <div id="threeDObject" style="width: 100%; height: 500px;"></div>
  <script src="./app.js"></script>
</body>
</html>